{% extends "base.html" %}

{% block main %}


<section class="proto-style-block typography vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner bottom-border">
        <h1 class="vertical-spacing-bottom">Structures</h1>
        <h2 class="vertical-spacing-bottom">MHC Class I</h2>
        <div class="vertical-spacing-bottom">
          <h3><strong>Run the Class I structure pipeline in single structure mode</strong></h3>
          {% set action = "/structures/redirect" %}
          {% set method = "POST" %}
          {% set mhc_class = "class_i" %}

          {% include "shared/partials/forms/structure_lookup.html" %}
          <p>OR</p>
          <h3><strong>Multiple structure mode</strong></h3>
          {% include "structures/multiple_structure_mode_form.html" %}
        </div>
        <h2 class="vertical-spacing-bottom-0-25">
          Coming soon...
        </h2>
        <div class="vertical-spacing-bottom"></div>
        <h3 class="vertical-spacing-bottom-0-25">
          MHC Class II
        </h3>
        <h3 class="vertical-spacing-bottom-0-25">
          Non-classical MHC Class II
        </h3>
        <div class="vertical-spacing-bottom"></div>
      </div>
    </div>
  </div>
</section>






{% endblock %}