{% extends "base.html" %}

{% set title = section + ' | ' + action %}
{% set nav = section %}


{% block style %}
    <style>
        textarea
        {
            width:100%;
            height:350px;
            background-color: #fcfcfc;
            color: #333;
            font-family:'Courier Prime','Courier New', Courier, monospace;
            font-size: 12pt;
        }
    </style>
{% endblock %}

{% block main %}



<section class="vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h1 class="vertical-spacing-bottom">{{section|title}} | {{item.name}}</h1>
        <p>{{item.description}}</p>
        <textarea readonly>{{item.data|prettify_json}}</textarea>
    </div>
    </div>
  </div>
</section>


{% endblock %}