{% extends "base.html" %}

{% block main %}


<section class="proto-style-block typography vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner bottom-border">
        <h1 class="vertical-spacing-bottom">Sequences</h1>
        <h2 class="vertical-spacing-bottom">MHC Class I</h2>
        <div class="vertical-spacing-bottom">
          <ul>
            <li><a href="/sequences/check_ipd">Check IPD version</a></li>
            <li>Process IPD data</li>
            <li>Process IMGT data</li>
          </ul>
        </div>
        <h2 class="vertical-spacing-bottom-0-25">
          Coming soon...
        </h2>
        <div class="vertical-spacing-bottom"></div>
        <h3 class="vertical-spacing-bottom-0-25">
          MHC Class II
        </h3>
        <h3 class="vertical-spacing-bottom-0-25">
          Non-classical MHC Class II
        </h3>
        <div class="vertical-spacing-bottom"></div>
      </div>
    </div>
  </div>
</section>






{% endblock %}