<li><span class="is-site-name">Pipeline | </span>
{% if not nav %}
    <li><a class="is-active" href="/">Home</a></li>
{% else %}
    <li><a href="/">Home</a></li>
{% endif %}
{% set navitems = ['sequences','structures', 'constants', 'sets', 'admin'] %}
{% for navitem in navitems %}
    <li><a {% if nav == navitem %}class="is-active"{% endif %} href="/{{navitem}}/">{{navitem|title}}</a></li>
{% endfor %}
{% if userobj %}
    <li><a href="/auth/logout">Logout</a></li><li>|</li><li>{{userobj.given_name}}</li>
{% else %}
    <li><a href="/auth/login">Login</a></li>
{% endif %}
