<li><span class="is-site-name">Pipeline | </span>
{% if not nav %}
    <li><a class="is-active" href="/">Home</a></li>
{% else %}
    <li><a href="/">Home</a></li>
{% endif %}
{% set navitems = ['sequences','structures','admin'] %}
{% for navitem in navitems %}
    {% if nav == navitem %}
        <li><a class="is-active" href="/{{navitem}}">{{navitem|title}}</a></li>
    {% else %}
        <li><a href="/{{navitem}}">{{navitem|title}}</a></li>
    {% endif %}
{% endfor %}
<li>|</li>
{% if user %}
    <li><a href="/logout">Logout</a> | {{user.given_name}}</li>
{% else %}
    <li><a href="/login">Login</a></li>
{% endif %}
