{% extends "base.html" %}


{% block style %}
    <style>
        textarea
        {
            width:100%;
            height:200px;
            background-color: #ffffff;
            color: #333;
            font-family:'Courier Prime','Courier New', Courier, monospace;
            font-size: 12pt;
            margin-top:5px;
        }

        .wide_input {
            width:50%;
            font-size: 12pt;
            padding: 5px;
        }

        

    </style>
    {% endblock %}


{% block main %}

<section class="vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h1 class="vertical-spacing-bottom">Create a set</h1>
        <ul>
          {% for error in errors %}
            {% if error == "set_already_exists" %}
              <li>This set already exists. You can add members to it or create a new set with a different title</li>
            {% endif %}
            {% if error == "blank_form" %}
              <li>All of the items marked with * are required</li>
            {% endif %}
            {% if error == "validation_errors" %}
              <li>All of the items marked with * are required. Please check your input.</li>
            {% endif %}
          {% endfor %}
        </ul>
        {% include "sets/set_create_form.html"%}
      </div>
    </div>
  </div>
</section>

{% endblock %}