{% extends "base.html" %}

{% block main %}


<section class="vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h1 class="vertical-spacing-bottom-0-25">{{itemset.metadata.title}}</h1>
        <div>Last updated {{itemset.last_updated|timesince}} | {{itemset.members|length}} items</div>
        <div class="vertical-spacing-top vertical-spacing-bottom">
          {% for structure in itemset.members %}
          <div class="vertical-spacing-top-0-25"><strong><a href="/structures/information/{{structure}}" target='_new'>{{structure}}</a></strong></div>
          <div class="vertical-spacing-bottom-0-5">
            <br />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}


