{% extends "base.html" %}

{% block main %}


<section class="vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h1 class="vertical-spacing-bottom">Constants</h1>
        <p>
        <ul>
            {% for action in actions %}
            <li><a href="/pipeline/constants/{{action.slug}}">{{action.name}}</a></li>
            {% endfor %}
        </ul>
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}