{% extends "base.html" %}

{% block main %}

    <section class="proto-style-block typography vertical-spacing-top">
      <div class="grid-container">
        <div class="column-full-width">
          <div class="inner bottom-border">
            <h1 class="vertical-spacing-bottom">Hello</h1>
            <p>
				This is the beginning of an interactive resource relating to the structure and function of molecules of the Major Histocompatibility Complex (MHC).
            </p>
          </div>
        </div>
      </div>
    </section>


    <section class="proto-style-block typography vertical-spacing-top">
      <div class="grid-container">
        <div class="column-full-width">
          <div class="inner">
            <h2 class="vertical-spacing-bottom">Typography</h2>
            <p>The typography here is set in <a href="https://fonts.google.com/specimen/Lexend+Deca" target="_blank">Lexend Deca</a> for display type and <a href="https://fonts.google.com/specimen/Inter" target="_blank">Inter</a> for body copy with a view to starting out with a font pairing that is easy to read and legible at a lot of different sizes without breaking up. These are free fonts <a href="https://fonts.google.com/">from Google</a>. We are working with free fonts to keep costs low and to enable reuse without licensing concerns.</p>
            <div class="proto-type">
              <p class="heading-extra-large vertical-spacing-bottom">Extra Large Heading</p>
              <p class="heading-large vertical-spacing-bottom">Large Heading</p>
              <p class="heading-medium vertical-spacing-bottom">Medium Heading</p>
              <p class="heading-small vertical-spacing-bottom">Small Heading</p>
              <p class="body-copy-large vertical-spacing-bottom">Large Body Copy</p>
              <p class="body-copy-medium vertical-spacing-bottom">Medium Body Copy</p>
              <p class="body-copy-small vertical-spacing-bottom">Small Body Copy</p>
            </div>
            <p>The type scale is <a href="https://design-system.service.gov.uk/styles/typography/#font-override-classes" target="_blank">based on that set on GOV.UK</a> which is a very helpful, well tested place for us to start. It is also responsive, with the type scaling up or down to best suit the screen size.</p>
            <p>Both fonts also give us a great deal of versatility in terms of the character sets they contain, including a nice set of glyphs and open type features including core things, like tabular numbers for presenting data to ensure numbers are monospaced for easy&nbsp;comparison:</p>
            <p>&pound;<span class="tabular-numbers">322</span>,<span class="tabular-numbers">487</span><br />
            &pound;<span class="tabular-numbers">700</span>,<span class="tabular-numbers">009</span><br />
            &pound;<span class="tabular-numbers">929</span>,<span class="tabular-numbers">214</span></p>
            <div class="proto-type">
              <p class="heading-extra-large vertical-spacing-bottom">&#x2197; &#x2192; &#x2198; &#x2193; &#x0026; &#x00A3; &#x00BC; &#x00BE;</p>
              <p class="heading-extra-large vertical-spacing-bottom">&pound;250,000</p>
            </div>
            <!-- <p>For further reference on typography <a href="https://futurefabric.gitbook.io/product-design-guidance/typography" target="_blank">see our Git Book</a>.</p> -->
          </div>
        </div>
      </div>
    </section>

    <section class="proto-style-block layout">

      <div class="grid-container">
        <div class="column-full-width">
          <div class="inner">
            <h2 class="vertical-spacing-bottom">Layout</h2>
          </div>
        </div>
      </div>

      <div class="grid-container">
        <div class="column-full-width">
          <div class="inner proto-background vertical-spacing-bottom">
            1/1
          </div>
        </div>
      </div>

      <div class="grid-container">
        <div class="column-one-half">
          <div class="inner proto-background vertical-spacing-bottom">
            1/2
          </div>
        </div>
        <div class="column-one-half">
          <div class="inner proto-background vertical-spacing-bottom">
            1/2
          </div>
        </div>
      </div>

      <div class="grid-container">
        <div class="column-one-third ">
          <div class="inner proto-background vertical-spacing-bottom">
            1/3
          </div>
        </div>
        <div class="column-one-third">
          <div class="inner proto-background vertical-spacing-bottom">
            1/3
          </div>
        </div>
        <div class="column-one-third">
          <div class="inner proto-background vertical-spacing-bottom">
            1/3
          </div>
        </div>
      </div>

      <div class="grid-container">
        <div class="column-one-third">
          <div class="inner proto-background vertical-spacing-bottom">
            1/3
          </div>
        </div>
        <div class="column-two-thirds">
          <div class="inner proto-background vertical-spacing-bottom">
            2/3
          </div>
        </div>
      </div>

      <div class="grid-container">
        <div class="column-one-quarter ">
          <div class="inner proto-background vertical-spacing-bottom">
            1/4
          </div>
        </div>
        <div class="column-one-quarter ">
          <div class="inner proto-background vertical-spacing-bottom">
            1/4
          </div>
        </div>
        <div class="column-one-quarter ">
          <div class="inner proto-background vertical-spacing-bottom">
            1/4
          </div>
        </div>
        <div class="column-one-quarter ">
          <div class="inner proto-background vertical-spacing-bottom">
            1/4
          </div>
        </div>
      </div>

      <div class="grid-container">
        <div class="column-full-width">
          <div class="inner vertical-spacing-bottom">
            <p>Simple building blocks that give us full width, halves, thirds and quarters should give us enough flexibility for most template layouts we set out to make. Constraining ourselves as much as possible to these options is a good place to start.</p>
            <p>We can also have full bleed blocks that break out of the grid and occupy the full width of the page when needed. This is likely to be useful for headers and footers for&nbsp;example.</p>
          </div>
        </div>
      </div>

      <div class="">
        <div class="inner proto-background tall vertical-spacing-bottom">
          
        </div>
      </div>

    </section>
    
    <section class="proto-style-block colour">
      <div class="grid-container">
        <div class="column-full-width">
          <div class="inner">
            <h2 class="vertical-spacing-bottom">Colour</h2>
            <p>Colour needs to be determined in part functionally and in part through branding, with an emphasis on the former in digital products and services. Functional colours will come as this style guide progresses and we learn more through the products we make. One of the most important considerations is <a href="https://contrast-checker.glitch.me/">colour contrast</a> for accessibility.</p>
            <div class="proto-colors">
              <div class="proto-color-swatch proto-color-5"></div>
              <div class="proto-color-swatch proto-color-2"></div>
              <div class="proto-color-swatch proto-color-3"></div>
              <div class="proto-color-swatch proto-color-4"></div>
            </div>
            <p>For the time being, the palette above is just an attempt to take the brand colours and modify them for web. </p>
          </div>
        </div>
      </div>
    </section>


    <section class="proto-style-block colour">
      <div class="grid-container">
        <div class="column-full-width">
          <div class="inner">
            <h2 class="vertical-spacing-bottom">Example</h2>
            <p>Using this system, with relative ease we can put together responsive pages and layout to create simple, consistent products to serve different users' needs. Below is a list of the products that are currently making use of this simple kit of parts, with more to be shared soon.</p>
              
              <ul>
                <li><a href="https://recipes.thecatalyst.org.uk/" target="_blank" rel="noopener">Service Recipes</a></li>
              </ul>
          </div>
        </div>
      </div>
    </section>
{% endblock %}