{% extends "base.html" %}

{% set pagetitle = section + ' | ' + action %}
{% set nav = section %}


{% block style %}
    <style>
        textarea
        {
            width:100%;
            height:350px;
            background-color: #fcfcfc;
            color: #333;
            font-family:'Courier Prime','Courier New', Courier, monospace;
            font-size: 12pt;
        }
    </style>
{% endblock %}

{% block main %}



<section class="vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h1 class="vertical-spacing-bottom">{{pagetitle|title}}</h1>
        <h2>Items processed</h2>
        {% if errors %}
        <p>
            {{errors}}
        </p>
        {% else %}
        <p>There were no errors</p>
        {% endif %}
        <ul>
            {% for item in data[items] %}
            {% if item is mapping %}
              <li class="vertical-spacing-bottom">
                {% if link %}
                <a href="/pipeline/{{section|lower}}/view/{{item.slug}}">{{item.name}}</a>
                {% else %}
                {{item.name}}
                {% endif %}
                {% if item.status %}
                    | {{item.status}}
                {% endif %}
                {% if item.data %}
                <br />
                <textarea readonly>{{item.data|prettify_json}}</textarea>
                {% else %}
                  <div>{{item.description}}</div>
                {% endif %}
              </li>
            {% else %}
              <li>{{item}}</li>
            {% endif %}
            {% endfor %}
          
        </ul>
      </div>
    </div>
  </div>
</section>


{% endblock %}