{% extends "base.html" %}

{% block main %}


<section class="vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width bottom-border">
      <div class="inner">
        <h1 class="vertical-spacing-bottom">Sets</h1>
        <p>
          Sets are collections of things (MHC molecules, peptides etc). Sometimes curated by robots, sometimes curated (or checked) by humans.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="vertical-spacing-top">
    <div class="grid-container">
      <div class="column-full-width">
        <div class="inner">
          <h2 class="vertical-spacing-bottom">Complexes</h1>
          <p>
            MHC Class I with peptide
          </p>
          <p>
            MHC Class I with peptide and &alpha;/&beta; T cell receptor
          </p>
          <p>
            MHC Class I with peptide and &alpha;/&beta; NK receptor
          </p>
          <p>
            MHC Class I with peptide and accessory molecule
          </p>
        </div>
      </div>
    </div>
</section>



<section class="vertical-spacing-top">
    <div class="grid-container">
      <div class="column-full-width">
        <div class="inner">
          <h2 class="vertical-spacing-bottom">Publications</h1>
          <p>
            Open access
          </p>
          <p>
            Paywalled
          </p>
          <p>
            Missing publication details
          </p>
        </div>
      </div>
    </div>
  </section>







{% endblock %}