{% extends "base.html" %}

{% block main %}


<section class="vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h1 class="vertical-spacing-bottom">Sets</h1>
        <p>
          Sets are collections of things (MHC molecules, peptides etc). Sometimes curated by robots, sometimes curated (or checked) by humans.
        </p>
      </div>
    </div>
  </div>
</section>

{% for category in sets %}
<section class="vertical-spacing-top">
    <div class="grid-container">
      <div class="column-full-width">
        <div class="inner top-border">
          <h2 class="vertical-spacing-top heading-medium">{{category|title}}</h1>
            {% for set in sets[category] %}
                {% set this_set = sets[category][set]%}
                <div class="vertical-spacing-bottom-0-25">
                    <h3 class="heading-small vertical-spacing-bottom-0-25 vertical-spacing-top"><a href="/sets/{{this_set.slug}}">{{this_set.ui_text}}</a></h3>
                    <div>Last updated {{this_set.last_updated|timesince}} | {{this_set.length}} items</div>
                </div>
            {% endfor %}
        </div>
      </div>
    </div>
</section>
{% endfor %}


{% endblock %}