{% extends "base.html" %}

{% block main %}


<section class="proto-style-block typography vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner bottom-border">
        <h1 class="vertical-spacing-bottom">Sets</h1>
        <p>
          Sets are collections of things (MHC molecules, peptides etc). Sometimes curated by robots, sometimes curated (or checked by humans).
        </p>
      </div>
    </div>
  </div>
</section>






{% endblock %}