{% extends "base.html" %}

{% block main %}


<section class="vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h1 class="vertical-spacing-bottom-0-25">Automatic assignments for Class I</h1>
        <p>{{filtered_set_length}} remaining | <a href="/structures/assign_automatically/class_i">Next set</a></p>
        
        <div class="vertical-spacing-bottom">
            Search set : {{search}}
        </div>
        {% for pdb_code in search_set %}
            <div class="vertical-spacing-bottom-1">
                <h2 class="vertical-spacing-top-0-5 vertical-spacing-bottom-0-25"><a href="/structures/information/{{pdb_code}}" target="_new">{{pdb_code}}</a></h2>
                {% if search_set[pdb_code].best_match %}
                    <div class="vertical-spacing-bottom-1">
                        Best match : {{search_set[pdb_code].best_match.best_match}} | Confidence {{search_set[pdb_code].best_match.confidence }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div>
            {{stats}}
        </div>
      </div>
    </div>
  </div>
</section>






{% endblock %}