<body>
    <h1>Information for {{pdb_code | upper}}</h1>
    <div>
        <h2>{{pdb_info.struct.title}}</h2>
        <div>
            <img src="https://cdn.rcsb.org/images/structures/{{pdb_image_folder}}/{{pdb_code}}/{{pdb_code}}_assembly-1.jpeg" height="500" width="500" />
        </div>
        <div>
            <strong>Publication title:</strong>
            {% if doi_url %}
                <a href="{{doi_url}}" target="_new"> {{pdb_info.rcsb_primary_citation.title}}</a>
            {% else %}
                 {{pdb_info.rcsb_primary_citation.title}}
            {% endif %}
        </div>
        <div><strong>Publication date: </strong> {{pdb_info.rcsb_primary_citation.year}}</div>
        <div><strong>Assembly count:</strong> {{pdb_info.rcsb_entry_info.assembly_count}}</div>
        <div><strong>Resolution:</strong> {{pdb_info.rcsb_entry_info.resolution_combined}}</div>
    </div>
    <div>
        {{structure_stats}}
    </div>
    <hr />


    <pre>{{pdb_info_text}}</pre>
    <pre>{{pdb_file}}</pre>
</body>