{% extends "base.html" %}
    {% block style %}
    <style>
        textarea
        {
            width:100%;
            height:350px;
            background-color: #0a0039;
            color: #eef;
            font-family:'Courier Prime','Courier New', Courier, monospace;
            font-size: 12pt;
        }
        .textwrapper
        {
            border:1px solid #999999;
            margin:5px 0;
            padding:3px;
        }

        img.pdb-image {
            width:500px;
            height:500px;
        }

        .journal_name {
            font-style: italic;
        }

        .journal_volume {
            font-weight: 700
        }

        .oa_icon {
            width:9px;
            height:14px;
        }

        pre.sequence {
            font-family:'Courier Prime','Courier New', Courier, monospace;
            font-size: 12pt;
        }

    </style>
    {% endblock %}

    {% block main %}

    <section class="vertical-spacing-top-0-5 vertical-spacing-bottom">
        <div class="grid-container">
            <div class="column-full-width">
              <div class="inner">
                  <div class="body-copy-small"><a href="/structures/search/class_i" class="breadcrumbs-level-1">Structures</a> <span class="breadcrumbs-level-1">|</span> <a href="/structures/search/class_i" class="breadcrumbs-level-2">MHC Class I</a> <span class="breadcrumbs-level-2">|</span> {{pdb_code }}</div>
                </div>
            </div>
        </div>
    </section>

    <section class="typography">
        <div class="grid-container">
          <div class="column-full-width">
                <div class="inner">
                    <div class="heading-medium">{{pdb_code | upper}}</div>
                    <h1 class="heading-large">{{pdb_info.struct.title}}</h1>
                    <div class="body-copy-smallest vertical-spacing-bottom"><a href="/structures/information/{{pdb_code}}/interesting/add">Mark as interesting</a> | <a href="/structures/information/{{pdb_code}}/edgecases/add">Mark as edge case</a></div>
                </div>
            </div>
        </div>
    </section>

    <section class="typography">
        <div class="grid-container bottom-border">
            <div class="column-one-half">
                <div class="inner vertical-spacing-top-0-5">
                    <div>
                        <img class="pdb-image" src="https://cdn.rcsb.org/images/structures/{{pdb_image_folder}}/{{pdb_code}}/{{pdb_code}}_assembly-1.jpeg" alt="Structure of {{pdb_code}}"/>
                    </div>
                    <div class="body-copy-smallest"><a href="https://www.rcsb.org/structure/{{pdb_code}}" target="_new">View {{pdb_code}} entry on RCSB</a> | <a href="https://www.rcsb.org/3d-view/{{pdb_code}}/1" target="_new">Visualise {{pdb_code}} entry on RCSB</a></div>
                </div>
            </div>
            <div class="column-one-half">
                <div class="inner vertical-spacing-bottom-0-5">    
                    <h3 class="heading-small vertical-spacing-bottom-0-25">Structure information</h3>
                    <table class="body-copy-smallest">
                        <tr>
                            <td class="strong">Resolution:</td>
                            <td>{{pdb_info.rcsb_entry_info.resolution_combined|join(', ')}}&#8491;</td>
                        </tr>
                        <tr>
                            <td class="strong">Assembly count:</td>
                            <td>{{assembly_count}}</td>
                        </tr>
                        <tr>
                            <td class="strong">Chain count:</td>
                            <td>{{basic_information.structure_stats.total_chains}}</td>
                        </tr>
                        <tr>
                            <td class="strong">Chains:</td>
                            <td>{{basic_information.structure_stats.chains|join(', ')}}</td>
                        </tr>
                    </table>
                    <h3 class="heading-small vertical-spacing-top-0-5 vertical-spacing-bottom-0-25">Publication details</h3>
                    <div class="body-copy-small">
                        {% if doi_url %}
                            <a href="{{doi_url}}" target="_new"> {{pdb_info.rcsb_primary_citation.title}}</a>
                        {% else %}
                            {{pdb_info.rcsb_primary_citation.title}}
                        {% endif %}
                    </div>
                    <div class="body-copy-smallest">
                            {{pdb_info.rcsb_primary_citation.rcsb_authors|join(', ')}}, <span class="journal_name">{{pdb_info.rcsb_primary_citation.journal_abbrev}}</span> <span class="journal_volume">Vol. {{pdb_info.rcsb_primary_citation.journal_volume }}</span>
                            Pages {{pdb_info.rcsb_primary_citation.page_first}}-{{pdb_info.rcsb_primary_citation.page_first}} ({{pdb_info.rcsb_primary_citation.year}})
                    </div>
                    <div class="body-copy-small vertical-spacing-top-0-5 vertical-spacing-bottom-0-25"><strong>Additional publication details:</strong></div>
                    <div>    
                    <form>
                            <label class="body-copy-smallest" for="open_access"><object data="/static/oa_icon.svg" type="image/svg+xml" class="oa_icon"></object> Open Access?</label>
                            <input type="checkbox" id="open_access" name="open_access" /><br>
                            <label class="body-copy-smallest" for="pdf_url">PDF url </label><input type="text" id="pdf_url" name="pdf_url"/><br />
                            <div class="vertical-spacing-top-0-25"><input type="button" value="submit" /></div>
                        </form>
                    </div>
                    <h3 class="heading-small vertical-spacing-top-0-5 vertical-spacing-bottom-0-25">Complex details</h3>
                    <div class="body-copy-small"><strong>Possible complex types:</strong></div>
                    <form >
                        {% for possible_complex in basic_information.possible_complexes_labels %}
                            <input type="radio" id="{{ possible_complex }}" name="complex_type" value="{{ possible_complex }}">
                            <label class="body-copy-smallest" for="{{ possible_complex }}">{{ possible_complex }}</label><br>
                        {% endfor %}
                        <input type="radio" id="not_mhc_related" name="complex_type" value="not_mhc_related">
                        <label class="body-copy-smallest" for="not_mhc_related">not_mhc_related</label><br>
                        <input type="radio" id="other" name="complex_type" value="other">
                        <label class="body-copy-smallest" for="other">other (please state) </label><input type="text" id="other_description" name="other_description"/>
                        <div class="vertical-spacing-top-0-25"><input type="button" value="submit" /></div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="vertical-spacing-top-0-5">
        <div class="grid-container">
            <div class="column-full-width">
                <div class="inner">
                    <h2 class="heading-small">Chain sequences</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="grid-container">
            <form>
            {% for chain in basic_information.chain_sequences.chunked_one_letter_sequences %}
            <div class="column-one-quarter">
                <div class="inner vertical-spacing-bottom">
                    <div><strong>{{chain}} ({{basic_information.chain_lengths[chain]}}aa)</strong></div>
                    <div>
                        <select id="{{chain}}_chain_type" name="{{chain}}_chain_type">{% for chain_type in complexes.chains %}<option value="{{complexes.chains[chain_type].label}}">{{complexes.chains[chain_type].ui_text}}</option>{% endfor %}</select>
                    </div>
                </div>
            </div>
            <div class="column-three-quarters">
                <div class="inner vertical-spacing-bottom"> 
                    {% set chunked_sequence = basic_information.chain_sequences.chunked_one_letter_sequences[chain] %}
                    {% for row in chunked_sequence %}
                        <pre class="sequence">{{row}}</pre>
                    {% endfor %}
                    <br />
                    <br />
                </div>    
            </div>
            {% endfor %}
            </form>
            <div class="column-full-width">
                <div class="inner">
                    <div class="vertical-spacing-bottom-0-25"><input type="button" value="submit" /></div>
                </div>
            </div>
        </div>
    </section>

    <section class="vertical-spacing-top-0-5">
        <div class="grid-container top-border">
          <div class="column-full-width vertical-spacing-top-0-5">
            <div class="inner">
                <h2 class="heading-small">PDB info</h2>
                <textarea>{{pdb_info_text}}</textarea>
                </div>
            </div>
        </div>
    </section>


    <section class="vertical-spacing-top-0-5">
        <div class="grid-container">
          <div class="column-full-width">
            <div class="inner">
                <h2 class="heading-small">PDB file</h2>
                <textarea>{{pdb_file}}</textarea>
                </div>
            </div>
        </div>
    </section>


    

    {% endblock %}