{% extends "base.html" %}

{% block main %}


<section class="vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h1 class="vertical-spacing-bottom-0-25">{{set.ui_text}}</h1>
        <div>Last updated {{set.last_updated|timesince}} | {{set.length}} items</div>
        
        <div class="vertical-spacing-top">
            {% include "fragments/structureset.html" %}
        </div>
      </div>
    </div>
  </div>
</section>






{% endblock %}