{% extends "base.html" %}

    {% block title %}Structures | split assemblies for {{pdb_code}}{% endblock %}

    {% block style %}
    <style>
        
        pre.sequence {
            font-family:'Courier Prime','Courier New', Courier, monospace;
            font-size: 12pt;
        }

    </style>
    {% endblock %}

    {% block main %}


    <section class="typography">
        <div class="grid-container">
          <div class="column-full-width">
                <div class="inner">
                    <div class="heading-medium">{{pdb_code | upper}}</div>
                    <h1 class="heading-large">{{histo_info.rcsb_info.struct.title}}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="typography">
        <div class="grid-container bottom-border">
            <div class="column-one-half">
                <div class="inner">
                    <script src="http://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script>
                    {% for complex in histo_info.split_info.complexes %}
                        <div id="element{{loop.index}}" style="height:300px; width:250px; position: relative;" class='viewer_3Dmoljs' data-href='/static/structures/pdb_format/single_assemblies/{{pdb_code}}_{{loop.index}}.pdb' data-backgroundcolor='0xffffff' data-style='cartoon:color=#ABC8E2'></div>
                        <div><strong>Complex {{loop.index}}</strong></div>
                    {% endfor %}
                </div>
            </div>
            <div class="column-one-half">
                <div class="inner vertical-spacing-bottom-0-5">    
                    <h3 class="heading-small vertical-spacing-bottom-0-25">Structure information</h3>
                    <div>
                        <table class="body-copy-smallest">
                            <tr>
                                <td class="strong">Resolution:</td>
                                <td>{{histo_info.rcsb_info.entry_info.resolution_combined|join(', ')}}&#8491;</td>
                            </tr>
                            <tr>
                                <td class="strong">Assembly count:</td>
                                <td>{{ histo_info.structure_stats.structure_stats.assembly_count }}</td>
                            </tr>
                            <tr>
                                <td class="strong">Chain count:</td>
                                <td>{{ histo_info.structure_stats.structure_stats.chain_count|int }}</td>
                            </tr>
                            <tr>
                                <td class="strong">Chains:</td>
                                <td>{{ histo_info.structure_stats.structure_stats.chainlist|join(', ') }}</td>
                            </tr>
                        </table>
                    </div>
                    <h3 class="heading-small vertical-spacing-top-0-5 vertical-spacing-bottom-0-25">Complex details</h3>
                    {% if histo_info.complex_type %}
                        {% if histo_info.complex_type.complex_type in complexes.complex_labels %}
                            <div>{{complexes.complex_labels[histo_info.complex_type.complex_type]|safe}}</div>
                        {% else %}
                            <div>{{histo_info.complex_type.complex_type}}</div>
                        {% endif %}
                    {% endif %}
                    <h3 class="heading-small vertical-spacing-top-0-5 vertical-spacing-bottom-0-25">Split details</h3>
                    {% for complex in histo_info.split_info.complexes %}
                        <div class="vertical-spacing-top">
                            <div><strong>Complex {{loop.index}}</strong></div>
                            <div>Filename: {{complex.filename}}</div>
                            <div>Chains: {{complex.chains}}</div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>


    <section class="vertical-spacing-top-0-5">
        <div class="grid-container">
            <div class="column-full-width">
                <div class="inner">
                    <h2 class="heading-small">Chain sequences</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="grid-container">
            {% if histo_info.structure_stats.chain_assignments %}
            {% for chain in histo_info.structure_stats.chain_assignments %}
            {% set this_chain = histo_info.structure_stats.chain_assignments[chain] %}
            <div class="column-one-quarter">
                <div class="inner vertical-spacing-bottom">
                    <div><strong>{{chain}} ({{this_chain.lenths}}aa)</strong></div>
                        <div>{{complexes.chains[chain].ui_text|safe}}</div>
                        <div>Chains {{this_chain.chains}}</div>
                </div>
            </div>
            <div class="column-three-quarters">
                <div class="inner vertical-spacing-bottom"> 
                    {% set chunked_sequence = this_chain.chunked_sequence[0] %}
                    {% for row in chunked_sequence %}
                        <pre class="sequence">{{row}}</pre>
                    {% endfor %}
                    <br />
                    <br />
                    <br />
                </div>    
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </section>


    {% endblock %}